.Inputs {
  position: relative;
}
.Inputs input::-webkit-outer-spin-button,
.Inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.Inputs input[type="number"] {
  -moz-appearance: textfield;
}
.InputText {
  border: 2px solid var(--clr-gray-600);
  width: 100%;
  height: 37px;
  padding: 0 1rem;
  font-size: 14px;
  line-height: 16px;
  color: var(--clr-gray-800);
  transition: all 0.3s ease-in-out;
}
.InputText:focus {
  outline: none;
  border: 2px solid var(--clr-gray-800);
}
.InputError {
  border: 2px solid var(--clr-error) !important;
}
.InputErrorMessage {
  position: absolute;
  background: var(--clr-error);
  border-radius: 3px;
  color: var(--clr-white);
  font-size: 1.3rem;
  line-height: 15px;
  width: 15rem;
  padding: 0.3rem;
  top: 0;
  right: 0;
  transform: translateX(105%);
}
.InputErrorMessage::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 6px solid var(--clr-error);
  top: 0.4rem;
  left: 0;
  transform: translateX(-100%);
}

@media screen and (max-width: 65em) {
  .InputErrorMessage {
    width: auto;
    padding: 0.5rem;
    top: auto;
    right: auto;
    left: 0;
    bottom: 0;
    transform: translateX(0) translateY(107%);
    z-index: 2;
  }
  .InputErrorMessage::after {
    display: none;
  }
}
@media screen and (max-width: 42em) {
  .InputErrorMessage {
    padding: 0.6rem;
    transform: translateX(0) translateY(110%);
  }
}
