.SelectInput {
  border: 2px solid var(--clr-gray-600);
  width: 100%;
  height: 3.7rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--clr-gray-800);
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-white);
  position: relative;
}
.DropMenuOpened {
  border: 2px solid var(--clr-gray-800) !important;
}
.SelectButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.SelectButton > img {
  height: 1.2rem;
}
.RotateImageForOpenDropDown {
  transform: rotate(180deg);
}

.DropdownMenu {
  background-color: var(--clr-white);
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  transform: translateY(100%);
  z-index: 10;
  width: 100%;
  border: 2px solid var(--clr-gray-800);
  max-height: 20rem;
  overflow: auto;
  box-shadow: 0px 1rem 2rem var(--shdaow-color);
  scrollbar-width: thin;
}

.DropdownMenu::-webkit-scrollbar {
  /* width of the entire scrollbar */
  width: 0.7rem;
}
.DropdownMenu::-webkit-scrollbar-track {
  /* color of the tracking area */
  background: #f1f1f1;
}
.DropdownMenu::-webkit-scrollbar-thumb {
  /* color of the scroll thumb */
  background-color: #a8a8a8;
  /* roundness of the scroll thumb */
  border-radius: 2rem;
}
.DropdownMenu > div {
  width: 100%;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--clr-gray-600);
}
.DropdownMenu > div:hover {
  background-color: hsl(0, 0%, 90%);
}
.DropdownMenu > div:last-child {
  border-bottom: 0;
}
.SelctedOption {
  background-color: hsl(0, 0%, 80%);
}
