.CreateAccount {
  padding: 4rem 6rem;
  width: 45rem;
}
.Form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.TItle {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 28px;
}
.SubmitAccountForm {
  width: 188px;
  height: 44px;
  left: calc(50% - 188px / 2 + 161px);
  border: 0;
  background: #2d9cdb;
  border-radius: 4px;
  font-size: 1.8rem;
  line-height: 21px;
  color: var(--clr-white);
  cursor: pointer;
}
.InputDataContainer {
  position: relative;
}
.InputDataDescription {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 19px;
  margin-bottom: 0.8rem;
}
.InputDataDescriptionSpan {
  font-size: 1.2rem;
}

.DOBContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.DOBType {
  font-size: 14px;
  line-height: 16px;
  color: var(--clr-gray-800);
}
.DOBDate {
  width: 20%;
}
.DOBMonth {
  width: 40%;
}
.DOBYear {
  width: 30%;
}

.InputDataRadioMobile {
  display: none;
}
.InputDataRadioDesktop {
  display: block;
}

@media screen and (max-width: 56em) {
  .CreateAccount {
    padding: 2rem 4rem;
    width: 35rem;
    height: 52rem;
  }
}
@media screen and (max-width: 42em) {
  .CreateAccount {
    flex-grow: 2;
    padding: 2.5rem 5rem;
    width: 85%;
    margin: 0 auto;
  }
  .InputDataRadioMobile {
    display: block;
  }
  .InputDataRadioDesktop {
    display: none;
  }
}
@media screen and (max-width: 32em) {
  .CreateAccount {
    width: 100%;
    padding: 2rem 3rem;
  }
}
